{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["airbnb"],
  "plugins": ["import", "react-hooks"],
  "rules": {
    "no-underscore-dangle": "off",
    "no-var": "error", // var 변수를 사용하지 않는다.
    "react/forbid-prop-types": 0,
    "object-curly-newline": 0,
    "no-console": 0,
    "no-alert": 0,
    "arrow-parens": ["error", "as-needed"], // 화살표 함수의 파라미터가 하나이면 괄호를 생략한다.
    "eqeqeq": ["error", "always"], // 삼중 등호 연산자인 ===, !==만 사용한다.
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "linebreak-style": 0,
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-props-no-spreading": "off",
    "no-unused-vars": "off",
    "consistent-return": "off",
    "no-restricted-globals": "off"
  }
}
